@tailwind base;

* {
    box-sizing: border-box;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}
.bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);}

@tailwind components;
@tailwind utilities;
